.post img{
    border:none;
}

#ss_extra_content{
    width:800px;
    margin: 0 0 0 8px;
}
#background-frame{
    top: 35px;
        background-position: center;
        position: absolute;
}

#wide-content h1{
    margin-top: 20px;
}
.wp_plus_one_button{
    display: none
}

.container{
    padding-bottom: 10px !important;
}
#header{
       position: relative;
}

#wide-content{
    background: none;
}

#content, #wide-content{
    background: none;
    padding: 0;
    top:0;
}
#content p{
    line-height:16px;
    font-family: Geneva, "MS Sans Serif", sans-serif

}
#background-frame img{
    width: 2000px;
}
#ss_business_wrapper p{
    font-family: Geneva, "MS Sans Serif", sans-serif;
    font-weight: bolder;
    font-size:12px;
    color: #404041;
}

table{
    border:none;
    line-height: 0px;
    margin:0 0 30px 0;
}

td{
    text-align: center;
    width:145px;
    padding:10px 10px 30px 10px;
    border:0px dotted #fff;
}

#wide-content ul{
    list-style: disc;
    padding-bottom: 20px;
}
ul li{
    margin-left: 15px;
    padding-bottom: 10px;
}
#ss_business_wrapper table tr td{
    border:0;
}

td img{
    cursor:pointer;
}


#ss_business_wrapper{
    background: #ccc url(images/ss_business_travel_bg.png) no-repeat;
    position: relative;
    width:800px;
    height:702px;
    overflow: hidden;
}

#ss_text,
#ss_experience_person, 
#ss_experience_level, 
#ss_novice_person, 
#ss_intermediate_person, 
#ss_expert_person{
    position: absolute;
}

#ss_novice_person, 
#ss_intermediate_person, 
#ss_expert_person{
    cursor: pointer;
}

#ss_experience_person{
    z-index: 100;
}
#ss_business_tips{
    z-index: 99;
}
#ss_experience_person,#ss_business_tips{
    width:670px;
    height:570px;
    top:10px;
    left:0px;
}

#ss_text{
    background: url(images/ss_text.png) no-repeat;
    width: 464px;
    height: 8px;
    top: 20px;
    left: 170px;
}

#ss_experience_level{
    background: url(images/ss_select_level.png) no-repeat;
    width:374px;
    height:63px;
    top:80px;
    left:218px;
}

#ss_novice_person{
    background: url(images/ss_novice_person.png) no-repeat;
    width:298px;
    height:508px;
    top:120px;
    left:15px;
}

#ss_intermediate_person{
    background: url(images/ss_intermediate_person.png) no-repeat;
    width:206px;
    height:479px;
    top:193px;
    left:330px;
}

#ss_expert_person{
    background: url(images/ss_expert_person.png) no-repeat;
    width:166px;
    height:484px;
    top:151px;   
    left:600px;                     
}

#ss_business_tips,
#ss_left_nav,
#ss_left_nav_novice,
#ss_left_nav_intermediate,
#ss_left_nav_expert,
#ss_novice_traveler_wrapper,
#ss_novice_packing_wrapper,
#ss_novice_packing_title,
#ss_novice_packing_content,
#ss_novice_app_wrapper,
#ss_novice_app_title,
#ss_novice_app_content,
#ss_novice_checkin_wrapper,
#ss_novice_checkin_title,
#ss_novice_checkin_content,
#ss_intermediate_traveler_wrapper,
#ss_intermediate_packing_wrapper,
#ss_intermediate_packing_title,
#ss_intermediate_packing_content,
#ss_intermediate_app_wrapper,
#ss_intermediate_app_title,
#ss_intermediate_app_content,
#ss_intermediate_checkin_wrapper,
#ss_intermediate_checkin_title,
#ss_intermediate_checkin_content,
#ss_expert_traveler_wrapper,
#ss_expert_packing_wrapper,
#ss_expert_packing_title,
#ss_expert_packing_content,
#ss_expert_app_wrapper,
#ss_expert_app_title,
#ss_expert_app_content,
#ss_expert_checkin_wrapper,
#ss_expert_checkin_title,
#ss_expert_checkin_content,
#ss_bottom_nav,
#ss_bottom_apps,
#ss_bottom_back_to_all,
#ss_bottom_packing_tips,
#ss_bottom_check_in_tips,
#ss_footer_dots{
    position: absolute;
}

#ss_novice_traveler_wrapper,
#ss_intermediate_traveler_wrapper,
#ss_expert_traveler_wrapper{
    width:670px;
    height:430px;
    top:0px;
    left:0px;
    z-index: 1;
    display: none;
}

#ss_novice_packing_wrapper,
#ss_novice_app_wrapper,
#ss_novice_checkin_wrapper,
#ss_intermediate_packing_wrapper,
#ss_intermediate_app_wrapper,
#ss_intermediate_checkin_wrapper,
#ss_expert_packing_wrapper,
#ss_expert_app_wrapper,
#ss_expert_checkin_wrapper{

}

#ss_novice_packing_title,
#ss_novice_app_title,
#ss_novice_checkin_title,
#ss_intermediate_packing_title,
#ss_intermediate_app_title,
#ss_intermediate_checkin_title,
#ss_expert_packing_title,
#ss_expert_app_title,
#ss_expert_checkin_title{
    width:800px;
    height:104px;
    top:20px;
    left:810px;
    display:none;
}

#ss_novice_packing_content,
#ss_novice_app_content,
#ss_novice_checkin_content,
#ss_intermediate_packing_content,
#ss_intermediate_app_content,
#ss_intermediate_checkin_content,
#ss_expert_packing_content,
#ss_expert_app_content,
#ss_expert_checkin_content{
    width:555px;
    height: 372px;
    top:150px;
    left:-670px;
    display: none;
}

#ss_novice_packing_title{
    background: url(images/ss_novice_packing_title.png) no-repeat;
}
#ss_novice_app_title{
    background: url(images/ss_novice_app_title.png) no-repeat;
}
#ss_novice_checkin_title{
    background: url(images/ss_novice_checkin_title.png) no-repeat;
}
#ss_intermediate_packing_title{
    background: url(images/ss_intermediate_packing_title.png) no-repeat;
}
#ss_intermediate_app_title{
    background: url(images/ss_intermediate_app_title.png) no-repeat;
}
#ss_intermediate_checkin_title{
    background: url(images/ss_intermediate_checkin_title.png) no-repeat;
}
#ss_expert_packing_title{
    background: url(images/ss_expert_packing_title.png) no-repeat;
}
#ss_expert_app_title{
    background: url(images/ss_expert_app_title.png) no-repeat;
}
#ss_expert_checkin_title{
    background: url(images/ss_expert_checkin_title.png) no-repeat;
}


#ss_novice_packing_content{
    background: url(images/ss_novice_packing_content.png) no-repeat;
}
#ss_novice_checkin_content{
    background: url(images/ss_novice_checkin_content.png) no-repeat;
}
#ss_intermediate_packing_content{
    background: url(images/ss_intermediate_packing_content.png) no-repeat;
}
#ss_expert_packing_content{
    background: url(images/ss_expert_packing_content.png) no-repeat;
}

#ss_left_nav{
    background: url(images/ss_left_nav_background.png) no-repeat;
    width:87px;
    height:236px;
    top:190px;
    left:-87px;
    display: none;
    z-index: 99;
}

#ss_left_nav_novice{
    background: url(images/ss_left_nav_novice.png) no-repeat;
    width:67px;
    height:78px;
    top:-5px;
    left:5px;
}

#ss_left_nav_intermediate{
    background: url(images/ss_left_nav_intermediate.png) no-repeat;
    width:62px;
    height:81px;
    top:70px;
    left: 10px;
}

#ss_left_nav_expert{
    background: url(images/ss_left_nav_expert.png) no-repeat;
    width:81px;
    height:103px;
    top:135px;
    left:0px;
}
#ss_footer_dots{
    background: url(images/ss_footer_dots.png) no-repeat;
    width:646px;
    height:103px;
    top:580px;
    left:-666px;
    display: none;
}

#ss_bottom_nav{
    background: none;
    width:670px;
    height:144px;
    top:-20px;
    left:30px;
    display: none;
    z-index: 500;
}

#ss_bottom_back_to_all{
    background: url(images/ss_bottom_back_to_all.png) no-repeat;
    width:184px;
    height:47px;
    top:53px;
    left:5px;
}

#ss_bottom_apps{
    background: url(images/ss_bottom_apps.png) no-repeat;
    width:184px;
    height:72px;
    top:53px;
    left:345px;
}

#ss_bottom_packing_tips{
    background: url(images/ss_bottom_packing_tips.png) no-repeat;
    width:172px;
    height:47px;
    top:53px;
    left:202px;
}

#ss_bottom_check_in_tips{
    background: url(images/ss_bottom_check_in_tips.png) no-repeat;
    width:172px;
    height:47px;
    top:53px;
    left:520px;
}


#google_translate,
#kayak,
#trip_advisor,
#yelp,
#four_square,
#the_weather_channel,
#what_s_near_me,
#trip_it,
#open_table,
#zagat,
#hop_stop,
#cab_4_me,
#oanda,
#ever_note,
#where_to_wee,
#all_subway,
#trip_lingo,
#seat_guru,
#my_tsa,
#flight_update_pro,
#aa,
#delta,
#jet_blue,
#united,
#airport_wifi,
#fly_smart{
    display: none;
}

.app_content{
    padding: 0px 0 0 30px;
}

.app_content img{
    padding:0 10px 10px 0;
    float:left;
    width:100px;
}
.app_content h2{
    font: bold 16px Geneva, "MS Sans Serif", sans-serif;
    color: #404041;
    margin: 0 0 5px 0;
}

.app_content p{
    font-size: 10px !important;
    color: #404041;
    margin: 5px 0 5px 0;
}


.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 35px;

}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}




























